<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="500000"/>
            </webServices>
        </scripting>
    </system.web.extensions>
    <appSettings>
      
        <add key="PRODUCAO" value="false"/>
        <add key="DOMINIO_PROXY" value="REDECORP"/>
        <add key="ENDERECO_PROXY" value="http://proxysp.vivo.com.br:8080"/>
        <add key="USUARIO_PROXY" value="svc_dgip"/>
        <add key="SENHA_PROXY" value="#Svc02@vptr"/>
        <!-- SETORES -->
        <add key="VW_SETOR" value="VW11_ARCGIS"/>
        <add key="VW_SETOR_HMM" value="VW11_ARCGIS_HMM"/>
        <!-- ERB'S -->
        <add key="VW_ERB" value="VW09_ARCGIS"/>
        <add key="VW_ERB_HMM" value="VW09_ARCGIS_HMM"/>
        <!-- CONFIGURAÇÕES BUSCA ORACLE -->
        <add key="USUARIO_PADRAO_ORACLE" value="BLRODRIGUES"/>
        <add key="CAMPO_DATA_VIEW" value="DATA_HORA"/>
        <add key="LIMITE_INCIDENCIA" value="0"/>
    </appSettings>
    <connectionStrings>
        <add name="ORACLE" connectionString="Data Source = DBN1.WORLD; User Id=blrodrigues; Password=pblrodw" providerName="System.Data.OracleClient"/>
        <add name="ORACLE_SMAPREL" connectionString="Data Source = SMAPREL.WORLD; User Id=BLRODRIGUES; Password=Vivo2013" providerName="System.Data.OracleClient"/>
        <add name="SQLSERVER_PERGAMO" connectionString="Server=10.126.111.203; Database=SIGDI;uid=sa;pwd=vivo@2013" providerName="System.Data.SqlClient"/>
        <add name="SQLSERVER_DERBE" connectionString="Server=10.126.111.213; Database=gisdb2;uid=sa;pwd=123#@!" providerName="System.Data.SqlClient"/>
        <add name="ORACLE_ALTAIA" connectionString="Data Source = DBN1.WORLD; User Id=blrodrigues; Password=pblrodw" providerName="System.Data.OracleClient"/>
        <add name="ORACLE_SCIENCE" connectionString="Data Source = SCIENCEREL.WORLD; User Id=USR_WEBFOCUSSP; Password=uwfsp20" providerName="System.Data.OracleClient"/>
        <add name="INCIDENCIA" connectionString="Server=10.11.3.34; Database=URT2_CORE;uid=sigd;pwd=VivoSigd#01" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true" targetFramework="4.0"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
        <bindings>
            <webHttpBinding>
                <binding allowCookies="true" name="webHttpBindingWithJsonP"/>
            </webHttpBinding>
        </bindings>
        <services>
            <service name="Geral">
                <endpoint binding="webHttpBinding" contract="Core.Web.RestService.IRest" behaviorConfiguration="webHttp"/>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="Core.Web.RestService.RestJsonp" behaviorConfiguration="webHttpBehavior">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="webHttpBehavior">
                    <enableWebScript/>
                </behavior>
                <behavior name="webHttp">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <log4net>
        <root>
            <priority value="ALL"/>
            <appender-ref ref="FileAppender"/>
        </root>
        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value="C:\\Log\\sigDI.txt"/>
            <appendToFile value="true"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date;%message%newline"/>
            </layout>
        </appender>
    </log4net>
</configuration>